/*========== Universal Styles ==========*/
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Raleway' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #363636;
}

p{
    line-height: 190%;   
}

a{
    text-decoration: none;
    color: teal;
}

/*========== Menu ==========*/

#menu{
    width: 100%;
    background-color: red;
    height: 100px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li{
    display: inline-block;
}

#menu a{
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100px;
    color: #ffffff;

    padding: 0 40px;
    border: none;
    display: block;
}

#menu a:hover{
    background-color: #ff7a7a;
}

/*========== Header ==========*/

#header{
    width: 100%;
    padding: 60px 0px 40px 0;
    background-color: #333333;
    text-align: center;
    
}

#header h1{
    letter-spacing: 0.1em;
    font-size: 44px;
    color: #ffffff;
}

#header p{
    letter-spacing: 0.1em;
    color: #ffffff;
}

/*========== Banner ==========*/

#banner{
    height: 800px;
}

#banner img{
    width: 100%;
    height: 800px;
}

/*========== Page ==========*/

#page{
    min-height: 400px;
    padding: 20px;
}

#page h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

/*========== Content ==========*/

#content{
    float: left;
    width: 100%;
}

#content img{
    float: left;
    width: 30%;
    height: 300px;
    margin: 12px;
}

.banner-heading {
    background-color: #f0f0f0; 
  padding: 20px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  text-align: center; 
  margin-bottom: 20px;
  
}

.banner-heading h2{
    font-weight: bold;
     color: #333; /* Darker text color for the heading */    
   font-size: 2em; /* Adjust font size as needed */
  margin: 0;
}


#Intro{
    font-size: 25px;
    font-weight: bold;
}
/*========== Lists ==========*/

ul.styled{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.styled li{
    border-top: solid 1px #e5e5e5;
    padding: 14px 0px;
}

/*========== Footer ==========*/

#footer{
    width: 100%;
    height: 340px;
    background-color: #1e1b1a;
    padding-top: 25px;
    padding-left: 22px;
    clear: both;
}

#footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

#footer p{
    color: #adadad;
}

#footer a{
    color: #adadad;
}

/*========== Lists ==========*/

#house-list{
    margin: 10px;
    float: left;
    width: 45%;
}

#flat-list{
    margin: 10px;
    float: right;
    width: 45%;
}
/*========== Copyright ==========*/

#copyright{
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #1e1b1a;
    padding-top: 55px;
    clear: both;
}

#copyright p{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

/*========== Gallery ==========*/

#gallery img{
    width: 500px;
    height: auto;
	margin:12px;
}

#gallery h1{
    text-align: center;
}